<div id='profilePageContainer'>
    <div id='userInfoCard'>
        <a href="/ViciousVocab">Play The Game!</a>
        <h2 class='username'>Username: {{ user.local.email }}</p>
    </div>
    <div id='gamesAndPostsContainer'>
        <div id='gamesContainer'>
            <h2>Your Past Games</h2>
            {{#if user.gameInstances}}
                    {{#each user.gameInstances}}
                    <div class='profilePageCard'>
                        <h3 id='playedDate'>Played: {{playedAt}}</h3>
                        <ol>  
                            <li>{{sentences1}}</li>
                            <li>{{sentences2}}</li>
                            <li>{{sentences3}}</li>
                            <li>{{sentences4}}</li>
                            <li>{{sentences5}}</li>
                            <li>{{sentences6}}</li>
                        </ol>
                    </div>
                    {{/each}}
            {{else}}
            <div class='profilePageCard'>
                <h3 id='playedDate'>You haven't played any games yet!<br>
                <a href="/ViciousVocab">Go practice some Vocab!</a></h3>
            </div>
            {{/if}}
        </div>
        <div id='postContainer'>
            <h2>Your Practice Posts</h2>
            {{#if user.writtenPosts}}
                    {{#each user.writtenPosts}}
                    <div class='profilePageCard'>
                        <h3 id='playedDate'>Played: {{createdAt}}</h3>
                        <p>{{content}}</p>
                    </div>
                    {{/each}}
            {{else}}
                <div class='profilePageCard'>
                    <h3 id='playedDate'>Looks like you haven't practiced!<br>
                    <a href="/">Practice your vocab here!</a></h3>
                </div>
            {{/if}}
        </div>
    </div>
</div>