<div>
    <h3>This is working if there's stuff here: {{ user.username }}</h3>
    <p class='email'>This is your email: {{ user.local.email }}</p>
    <p class='password'>This is your password: {{ user.local.password }}</p>
    {{#if user.gameInstances}}
        <ul>
            {{#each user.gameInstances}}
                <li>{{sentences}}</li>
            {{/each}}
        </ul>
    {{/if}}
    {{#if user.writtenPosts}}
        <ul>
            {{#each user.writtenPosts}}
                <li>{{content}}</li>
            {{/each}}
        </ul>
    {{/if}}
</div>