<section class="sentences">
    {{#if currentUser }}
    <form action="/" method="post">
        <div class="cardLoggedIn">
            <div class="card-word">
                <h1 name='vocabWord' id='postVocab'>{{ vocab.word }}</h1>
            </div>
            <div class="card-definition">
                <h2 name='vocabDefinition' >{{ vocab.definition }}</h2>
            </div>
                <input id="postText" type="text" name="post[content]" placeholder="Practice using the vocab above">
                <input id="submitButton" type="submit">
        </div>
    </form>
    <h2 class='mainPageLogin'><a href="/ViciousVocab">Play The Game!</a></h2>
    {{else}}
    <div class="card">
        <div class="card-word">
            <h2 id='postVocab'>{{ vocab.word }}</h2>
        </div>
        <div class="card-definition">
            <p>{{ vocab.definition }}</p>
        </div>
    </div>
    <h2 class='mainPageSignUp'><a href='/user/signup'>Sign Up</a> or<br></h2>
    <h2 class='mainPageLogin'><a href='/user/login'>Log In To Play!</a></h2>
    {{/if}}
</section>