<section class="tweets">
    {{#each vocabs }}
        <div class="card">
            {{ sentence }}
            {{!-- <div class="card-content">
                <a href="/tweet/{{id}}" class="card-title">{{ content }}</a>
            </div> --}}
            {{!-- <div class="card-action">
                <a href="/user/{{ author.id }}">{{ author.local.email }}</a>
            </div> --}}
        </div>
    {{/each}}
</section>